@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss";

@theme inline {
  --font-sans: InterVariable, "Inter", system-ui, sans-serif;
  --font-display: InterVariable, "Inter", system-ui, sans-serif;
}

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11", "ss01", "ss03";
}
